<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="mytestdb" connectionString="Server=localhost;Database=mytestdb;Trusted_Connection=True;"
      providerName="System.Data.SqlClient" />
    <add name="KlasifikavimasXY.Properties.Settings.KlasifikavimasConnectionString"
      connectionString="Data Source=.\SQLEXPRESS01;Initial Catalog=Klasifikavimas;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>